<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анализ</title>
</head>
<body>

<h2>Анализ инцидента:</h2>

<form action = "/predict" method = "post">
  <label>Host:</label>
  <input type="text" name = "host">
  <label>User:</label>
  <input type="text" name = "user">
  <label>Process:</label>
  <input type="text" name = "process">
  <label>File:</label>
  <input type="text" name = "file">
  <label>Message:</label>
  <input type="text" name = "message">
  <button type = "submit">Отправить</button>


</body>
</html>