<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анализ инцидента</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>Анализ инцидента</h2>

    <form action="/predict" method="post">

        <label>Host</label>
        <input type="text" name="host" required>

        <label>User</label>
        <input type="text" name="user" required>

        <label>Process</label>
        <input type="text" name="process">

        <label>File</label>
        <input type="text" name="file">

        <label>Message</label>
        <textarea name="message" required></textarea>

        <button type="submit">Анализировать</button>

    </form>

</div>

</body>
</html>