<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Результат</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>Результат анализа</h2>

    <div class="card">
        <p><b>Host:</b> {{ incident.host }}</p>
        <p><b>User:</b> {{ incident.user }}</p>
        <p><b>Message:</b> {{ incident.message }}</p>
    </div>

    <div class="card">
        <p><b>Threat level:</b>
            <span class="badge {{ threat|lower }}">{{ threat }}</span>
        </p>

        <p><b>Root cause:</b> {{ root }}</p>
    </div>

    <div class="card">
        <h3>Рекомендации:</h3>
        <ul>
            {% for r in recommendation %}
                <li>{{ r }}</li>
            {% endfor %}
        </ul>
    </div>

    <a href="/" class="back">← Назад</a>

</div>

</body>
</html>